* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: black;
  font-size: 24px;
  align-items: center;
}

header img {
  margin-left: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 16px 32px;
}

nav a {
  margin-right: 16px;
  text-decoration: none;
}

main {
  margin-top: 30px;
  margin-left: 100px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  background-color: black;
  color: white;
}

.sidebar__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8em;
  z-index: 2;
}

.sidebar__icons img {
  margin-bottom: 1em;
}

.sidebar__copyright {
  position: fixed;
  bottom: 8em;
  z-index: 0;
  width: auto;
  margin: auto;
  color: white;
  white-space: nowrap;
  transform: rotate(-90deg);
}

.user__main_wrapper,
.user__title {
  padding: 0 50px;
}

.user__main_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user__activity_wrapper {
  height: 500px;
  display: flex;
  align-items: center;
}

.user__secondary_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.user__graphs {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.tags__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.datatag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 16em;
  height: 7.75em;
  font-size: 16px;
  background-color: #fbfbfb;
  border-radius: 5px;
}

.datatag__text {
  margin-left: 1.25em;
  vertical-align: middle;
}

.datatag__text p {
  margin-top: 0;
}

.datatag__text h2 {
  margin-bottom: 0.3em;
}

.datatag__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.red_text {
  color: #e60000;
}

/* ------------------------------------- RECHARTS ------------------------------------- */

.recharts-polar-angle-axis-ticks :nth-child(4) {
  transform: translateY(0.5rem);
}

.activity_chart__legend {
  color: #74798c;
  padding: 20px;
}

.performance_chart {
  background-color: #282d30;
}

.sessions_chart {
  background-color: #e60000;
}

.square_chart_wrapper {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
